.notifications-container {
    width: 90%; /* Ajusta el ancho para dispositivos móviles */
    max-width: 50rem; /* Ajusta el ancho máximo para dispositivos más grandes */
    height: auto;
    font-size: 1rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    align-items: center;
}

/* Media query para tablets */
@media (min-width: 768px) {
    .notifications-container {
        width: 80%; /* Ajusta el ancho para tablets */
    }
}

/* Media query para desktop */
@media (min-width: 1024px) {
    .notifications-container {
        width: 60%; /* Ajusta el ancho para desktop */
    }
}

.flex {
    display: flex;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.alert {
    background-color: #17adf24f;
    border-left-width: 4px;
    border-color: #2bb7f7;
    border-radius: 0.375rem;
    padding: 1rem;
}

.alert-svg {
    height: 1.25rem;
    width: 1.25rem;
    color: #2bb7f7;
}

.alert-prompt-wrap {
    margin-left: 0.75rem;
    color: #2bb7f7;
}

.alert-prompt-link {
    font-weight: 500;
    color: #155471;
    text-decoration: underline;
}

.alert-prompt-link:hover {
    color: rgb(202, 4, 4);
}

.custom-border-shadow {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
