.scroll-button {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 3.125rem;
    height: 3.125rem;
    background-color: #30beed;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1s ease;
    animation: blink 5s infinite; /* Agregar la animación de parpadeo */
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }